body {
    color: white;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    overflow: hidden;
}

.turing-background {
    background-image: url("turing.png");
    background-size:auto;
    background-position: center;
}

.black-background {
    background-color: black;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: fade-in-out 20s ease-in-out infinite;
    z-index: 1;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .95;
    }
    100% {
        opacity: 1;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 2;
}

.content {
    background-color: transparent;
    color: white;
    padding: 40px;
}

h1 {
    margin: 0;
    font-size: 4em;
}

p {
    margin-top: 30;
}

#play-container {
    position: absolute;
    bottom: 33vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s, color 0.3s ease;
    display: inline-block;
}

#play-container:hover {
    color: rgb(255, 246, 198);
}

#username-input-container {
    font-size: 1.2em;
}

#countdown-timer {
    font-size: 6em; /* Large font size for the countdown */
    color: white;
}

#caret {
    animation: blink 1s step-start 0s infinite;
    font-weight: bold;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#info-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 2;
}

#info-button:hover {
    transform: scale(1.1);
}

.footer-text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 2;
}
