body {
    background-image: url("hands thick.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden; /* To prevent scrollbars from the overlay */
    font-family: 'Courier New', Courier, monospace
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: fade-in-out 20s ease-in-out infinite;
    z-index: 1;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .98;
    }
    100% {
        opacity: 1;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 2;
}

.content {
    background-color: black;
    color: white;
    padding: 40px;
}

h1 {
    margin: 0;
    font-size: 4em;
}

p {
    margin-top: 30;
}

#play-button {
    background-color: black;
    color: white;
    border: none;
    padding: 0px;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s;
}

#info-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 2;
}

#play-button:hover, #info-button:hover {
    transform: scale(1.1);
}
